.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  min-height: 100vh;

  h1 {
    font-size: 1.6em;
    font-weight: bold;
  }

  &__content {
    position: sticky;
    margin-top: 3rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px #0000001a;
    width: 100%;
    max-width: 400px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    > p {
      font-size: 0.85em;
      color: var(--clr-font-lgt);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  label {
    display: flex;
    flex-direction: column;
    color: var(--clr-font);
    font-weight: bold;
    padding: 0.25rem 0.5rem;

    input {
      border: 1px solid #dadada;
      padding: 0.5em 0;
      outline: none;
      font-size: 1em;
      border: none;
      border-bottom: 1px solid rgb(194, 194, 194);
      background-color: transparent;

      &::placeholder {
        color: #dbdbdb;
      }
    }

    &:focus-within {
      outline: 1px solid #dadada;
      background-color: #fbfbff;
      color: var(--clr-highlight);
      input {
        border-bottom: 1px solid black;
      }
    }
  }

  &__btn-box {
    display: flex;
    gap: 1em;
    justify-content: center;
  }

  button {
    height: 50px;
    border-radius: 4px;
    font-size: 1em;
    width: 100%;
  }

  &__btn-cancel {
    border: 1px solid #9e9e9e;
    color: #686868;

    &:hover {
      border: 1px solid black;
      color: black;
    }
  }

  &__btn-submit {
    color: #fff;
    background-color: var(--clr-highlight);
    border: 1px solid var(--clr-highlight);
    &:hover {
      background-color: #4d29de;
      border: 1px solid #4d29de;
    }
  }

  &__error {
    color: red;
    font-size: 0.9em;
  }

  &__link {
    color: var(--clr-font-lgt);
    font-size: 0.85em;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin: auto;

    a {
      color: var(--clr-font-link);
      font-size: 0.9rem;
      margin-right: auto;
      text-decoration: underline;
    }
  }
}

// ------------ other login method styling ------------- //
.login__party {
  display: flex;
  flex-direction: column;
  gap: 1em;

  &-text {
    width: 100%;
    height: 2rem;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  &-signup {
    padding: 0.25rem 1rem;
    background-color: #fff;
    position: relative;
    z-index: 2;
    color: #a1a1a1;
  }

  &-line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #d2d2d2;
    left: 0;
  }
}

.google__btn > div {
  width: 100% !important;
}

@media (max-width: 420px) {
  .login__content {
    padding: 1.5rem 1rem;
  }
}
