.article__detail {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0.75em;
  z-index: 999;
}
.article__detail-content {
  display: flex;
  max-width: 40rem;
  max-height: 50rem;
  width: 100%;
  height: 100%;
  background-color: var(--clr-bg-lgt);
  border-radius: 4px;
  overflow-y: auto;
  position: relative;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: varvar(--clr-bg-lgt) var(--clr-bg-lgt);
}
.article__detail-content::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.article__detail-content::-webkit-scrollbar-thumb {
  background: var(--clr-bg-lgt);
}
.article__detail-content--active {
  max-width: 80rem;
}
.article__detail-content--active .article__detail-group {
  border-right: 1px solid #e3e3e3;
}
.article__detail-group {
  display: flex;
  flex-direction: column;
  flex: 1 0 50%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: varvar(--clr-bg-lgt) var(--clr-bg-lgt);
}
.article__detail-group::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.article__detail-group::-webkit-scrollbar-thumb {
  background: var(--clr-bg-lgt);
}
.article__detail-close {
  position: absolute;
  right: -0.1rem;
  top: -0.1rem;
  width: 4em;
  background-color: #1f232d;
  padding: 0.25em;
  cursor: pointer;
  z-index: 9;
  display: flex;
  border-bottom-left-radius: 8px;
}
.article__detail-close:hover {
  background-color: #010101;
}
.article__detail-close svg {
  margin: auto;
  color: #fff;
  stroke-width: 1px;
}
.article__detail .line {
  width: 100%;
  height: 0.1rem;
  background-color: #e3e3e3;
  margin: 1em 0;
}
.article__detail span {
  color: var(--clr-font-drk);
  font-weight: bold;
}
.article__detail-desc {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.article__detail .image-container {
  width: 100%;
  aspect-ratio: 3/2;
  overflow: hidden;
}
.article__detail-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.article__detail-header {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.article__detail-header h3 {
  color: var(--clr-font-drk);
  font-weight: bold;
  padding: 0 0.75em;
}
.article__detail-header p {
  color: var(--clr-font);
  display: flex;
  flex-direction: column;
  padding: 0 0.75em;
}
.article__detail-source {
  color: var(--clr-font-lgt);
}
.article__detail-from {
  padding: 0 0.75em;
}
.article__detail-link {
  display: flex;
  flex-direction: column;
  padding: 0 0.75em;
}
.article__detail-link a {
  color: var(--clr-font-link);
  margin-right: auto;
  text-decoration: underline;
}
.article__detail-details {
  display: flex;
  justify-content: space-between;
  color: var(--clr-font);
  padding: 0 0.75em;
}
.article__detail-stats {
  display: flex;
  gap: 1em;
}
.article__detail-stats svg {
  color: var(--clr-font-lgt);
  fill: none;
}
.article__detail-stats button {
  display: flex;
  gap: 0.25em;
  align-items: center;
  color: var(--clr-font-drk);
  font-weight: bold;
}
.article__detail-stats button:nth-child(1) {
  cursor: auto;
}
.article__detail-stats button:nth-child(1) svg {
  color: var(--clr-font);
}
.article__detail-stats button:not(:nth-of-type(1)):hover svg {
  color: var(--clr-font);
}
.article__detail-date {
  color: var(--clr-font-lgt);
}
.article__detail-comment {
  display: flex;
  justify-content: center;
  padding: 0.75em;
  margin-top: auto;
}
.article__detail-comment button {
  padding: 0.5em;
  width: 100%;
  border: 1px solid #afafaf;
  color: var(--clr-font);
  font-size: 1em;
}
.article__detail-comment--active button {
  color: #fff;
  background-color: var(--clr-highlight);
}

/* ------------ Behind modal color ----------- */
.back-cover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.542);
  z-index: 998;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  cursor: pointer;
  z-index: -1;
}

@media (max-width: 900px) {
  .article__detail-content {
    overflow-y: auto;
    flex-direction: column;
    height: 100%;
    max-width: 40rem;
  }
  .article__detail-content--active .article__detail-group {
    border-right: none !important;
  }
  .article__detail-group {
    overflow-y: unset;
    height: auto;
  }
}/*# sourceMappingURL=articleDetail.style.css.map */