.article__detail {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0.75em;
  z-index: 999;

  &-content {
    display: flex;
    max-width: 40rem;
    max-height: 54rem;
    width: 100%;
    height: 100%;
    background-color: var(--clr-bg-lgt);
    border-radius: 4px;
    overflow-y: auto;
    position: relative;
    overflow-x: hidden;

    //---------- scroll styling ---------//
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--clr-bg-lgt);
    }
    scrollbar-width: thin;
    scrollbar-color: varvar(--clr-bg-lgt) var(--clr-bg-lgt);

    &--active {
      max-width: 80rem;
      .article__detail-group {
        border-right: 1px solid #e3e3e3;
      }
    }
  }

  &-group {
    display: flex;
    flex-direction: column;
    flex: 1 0 50%;
    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--clr-bg-lgt);
    }
    scrollbar-width: thin;
    scrollbar-color: varvar(--clr-bg-lgt) var(--clr-bg-lgt);
  }

  &-close {
    position: absolute;
    right: -0.1rem;
    top: -0.1rem;
    width: 4em;
    background-color: #1f232d;
    padding: 0.25em;
    cursor: pointer;
    z-index: 9;
    display: flex;
    border-bottom-left-radius: 8px;

    &:hover {
      background-color: #010101;
    }

    svg {
      margin: auto;
      color: #fff;
      stroke-width: 1px;
    }
  }

  .line {
    width: 100%;
    height: 0.1rem;
    background-color: #e3e3e3;
    margin: 1em 0;
  }

  span {
    color: var(--clr-font-drk);
    font-weight: bold;
  }

  &-desc {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .image-container {
    width: 100%;
    aspect-ratio: 3/2;
    overflow: hidden;
  }
  &-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  &-header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    h3 {
      color: var(--clr-font-drk);
      font-weight: bold;
      padding: 0 0.75em;
    }
    p {
      color: var(--clr-font);
      display: flex;
      flex-direction: column;
      padding: 0 0.75em;
    }
  }
  &-source {
    color: var(--clr-font-lgt);
  }
  &-from {
    padding: 0 0.75em;
  }
  &-link {
    display: flex;
    flex-direction: column;
    padding: 0 0.75em;

    a {
      color: var(--clr-font-link);
      margin-right: auto;

      text-decoration: underline;
    }
  }
  &-details {
    display: flex;
    justify-content: space-between;
    color: var(--clr-font);
    padding: 0 0.75em;
  }
  &-stats {
    display: flex;
    gap: 1em;

    svg {
      color: var(--clr-font-lgt);
      fill: none;
    }
    button {
      display: flex;
      gap: 0.25em;
      align-items: center;
      color: var(--clr-font-drk);
      font-weight: bold;

      &:nth-child(1) {
        cursor: auto;
        svg {
          color: var(--clr-font);
        }
      }

      &:not(:nth-of-type(1)):hover svg {
        color: var(--clr-font);
      }
    }
  }
  &-date {
    color: var(--clr-font-lgt);
  }
  &-comment {
    display: flex;
    justify-content: center;
    padding: 0.75em;
    margin-top: auto;

    button {
      padding: 0.5em;
      width: 100%;
      border: 1px solid #afafaf;
      color: var(--clr-font);
      font-size: 1em;
    }

    &--active {
      button {
        color: #fff;
        background-color: var(--clr-primary);
      }
    }
  }
}

/* ------------ Behind modal color ----------- */
.back-cover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.542);
  z-index: 998;
  backdrop-filter: blur(1px);
  cursor: pointer;
  z-index: -1;
}

@media (max-width: 900px) {
  .article__detail {
    &-content {
      overflow-y: auto;
      flex-direction: column;
      height: 100%;
      max-width: 40rem;
      &--active .article__detail-group {
        border-right: none !important;
      }
    }
    &-group {
      overflow-y: unset;
      height: auto;
    }
  }
}
