.comment {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-bg-lgt);
  padding: 0.75em;
  padding-top: 1rem;
  flex: 1 0 50%;
  gap: 1em;
  overflow-y: auto;
  max-height: fit-content;

  //---------- scroll styling ---------//
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--clr-bg-lgt);
  }
  scrollbar-width: thin;
  scrollbar-color: varvar(--clr-bg-lgt) var(--clr-bg-lgt);
  //----------------------------------//

  .image-container {
    width: 2em;
    height: 2em;
    flex-shrink: 0;
  }

  &__profile {
    display: flex;
    gap: 0.5em;
    align-items: center;
    h3 {
      font-weight: bold;
      font-size: 0.8em;
      color: var(--clr-font);
    }
    &-date {
      font-size: 0.8em;
      color: var(--clr-font-lgt);
    }
  }
}

.comment__user {
  margin-top: 1rem;
  display: flex;
  gap: 1em;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  textarea {
    height: auto;
    width: 100%;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #a5a5a5;
    background-color: transparent;
    outline: none;
    resize: none;
    line-height: 1.5rem;

    &::placeholder {
      color: #b2b2b2;
    }

    &:focus {
      border-bottom: 1px solid rgb(1, 1, 1);
    }
  }

  &-btns {
    display: flex;
    justify-content: right;
    gap: 0.5em;
    button {
      padding: 0.5em 1em;
    }
    button:nth-of-type(2) {
      color: #fff;
      background-color: var(--clr-highlight);
      border-radius: 4px;
    }
  }
}

.comment__list {
  display: flex;
  flex-direction: column;
  gap: 1.6em;

  &-card {
    display: flex;
    gap: 1rem;
    width: 100%;
  }

  &-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5em;
  }

  &-comment {
    width: 100%;
    display: flex;

    .display-none {
      display: none;
    }

    p {
      white-space: pre-wrap;
      color: var(--clr-font-drk);
    }

    p.hide {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    display: flex;
    gap: 1em;

    button {
      margin-left: auto;
      margin-bottom: auto;
    }
  }

  &-edit {
    height: auto;
    width: 100%;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #a5a5a5;
    background-color: transparent;
    outline: none;
    resize: none;
    line-height: 1.5rem;
    resize: none;
  }

  &-readmore {
    font-weight: bold;
    margin-right: auto;
    font-size: 0.9em;
    color: var(--clr-font);
    margin-top: 0.5em;
  }
}

.comment__option {
  display: flex;
  gap: 1em;
  &-item {
    display: flex;
    gap: 0.25em;
    align-items: center;

    button {
      display: flex;
      align-items: center;
      padding: 0.25em;
      border-radius: 50%;
      width: 26px;
      height: 26px;
      &:hover {
        background-color: #dfdfdf;
      }
      svg {
        stroke: #666666;
      }
    }
  }
}

@media (max-width: 900px) {
  .comment {
    overflow-y: unset;
    height: auto;
  }
}
