/* default setting */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--clr-bg);
  font-weight: 400;
  font-family: var(--font-primary);
}
input {
  font-family: var(--font-primary);
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  font-size: 1rem;
  color: var(--font-drk);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: var(--font-primary);
}

/* max-width wrapper */
.wrapper {
  max-width: var(--w-max);
  margin: auto;
}

/* image styling */
.image-container {
  position: relative;
}
.image-container img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

/* media body font-size */

@media (max-width: 1200px) {
  body {
    /* font-size: 0.9rem; */
  }
}

@media (max-width: 800px) {
  body {
    font-size: 0.9rem;
  }
}
