:root {
  /* main colors */
  --clr-primary: #fff;
  --clr-secondary: #fff;
  --clr-drk: #222222;

  /* font colors */
  --clr-font: #424242;
  --clr-font-md: #646464;
  --clr-font-drk: #1e1e1e;
  --clr-font-lgt: #e9e9e9;
  --clr-font-link: #0a1def;

  /* status colors */
  --clr-warning: #fff;
  --clr-success: #fff;
  --clr-default: #fff;

  /* background color */
  --clr-bg: #eaeaf2;
  --clr-bg-lgt: #f5f5f5;

  /* max width */
  --w-max: 1888px;
}
