/* 전체 컨테이너 */
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  min-height: 100vh;
  background-color: var(--bg-clr);

  h1 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
  }

  &__link {
    color: var(--clr-font-lgt);
    font-size: 0.85em;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin: auto;

    a {
      color: var(--clr-font-link);
      font-size: 0.9rem;
      margin-right: auto;
      text-decoration: underline;
    }
  }
}

/* 등록 박스 */
.register__box {
  position: sticky;
  margin-top: 3rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px #0000001a;
  width: 100%;
  max-width: 400px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* 에러 메시지 */
.register__error {
  color: red;
  font-size: 0.9em;
}

/* 폼 그룹 */
.register__form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.register label {
  display: flex;
  flex-direction: column;
  color: var(--clr-font);
  font-weight: bold;
  padding: 0.25rem 0.5rem;

  input {
    border: 1px solid #dadada;
    padding: 0.5em 0;
    outline: none;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid rgb(194, 194, 194);
    background-color: transparent;

    &::placeholder {
      color: #dbdbdb;
    }
  }

  &:focus-within {
    outline: 1px solid #dadada;
    background-color: #fbfbff;
    color: var(--clr-highlight);
    input {
      border-bottom: 1px solid black;
    }
  }

  &.register__policy {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    color: rgb(150, 150, 150);
    font-weight: 400;
    font-size: 0.9em;
    cursor: pointer;

    input {
      cursor: pointer;
    }
  }
}

/* 등록 버튼 */
.register__button {
  width: 100%;
  height: 50px;
  background-color: var(--clr-primary);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
}

.register__button:hover {
  background-color: var(--clr-highlight);
}

@media (max-width: 420px) {
  .register__box {
    padding: 1.5rem;
  }
}
