.footer {
  box-shadow: 0px -4px 8px -4px rgba(0, 0, 0, 0.152);
  &__content {
    padding: 4em 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--clr-font);
    align-items: center;
  }

  &__link {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    a {
      color: var(--clr-font);
    }
  }

  &__social {
    display: flex;
    gap: 0.5em;

    svg {
      width: 1.6em;
      height: 1.6em;
      fill: var(--clr-font);
    }
  }
}

@media (max-width: 850px) {
  .footer {
    &__link {
      // grid-template-columns: (4, 1fr);
    }
  }
}
