.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.25em 1em;
  align-items: center;
  box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.152);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--clr-bg);
  z-index: 99;

  .image-container {
    width: 160px;
    aspect-ratio: 3/1;

    img {
      object-fit: contain;
    }
  }

  &__content {
    display: flex;
    gap: 0.5em;
  }

  &__favorite {
    padding: 0.75em 1.5em;
    color: var(--clr-font-drk);
    font-weight: bold;
    font-size: 0.9em;
  }

  &__btn {
    padding: 0.75em 1.5em;
    color: var(--clr-font-drk);
    font-weight: bold;
    font-size: 0.9em;
  }

  &__register {
    padding: 0.75em 1.5em;
    font-weight: bold;
    font-size: 0.9em;
    background-color: var(--clr-highlight);
    color: #fff;
    border-radius: 4px;
  }
}
