.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.25em 1em;
  align-items: center;
  box-shadow: 0px 2px 4px -2px #00000027;
  position: fixed;
  gap: 0.5em;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--clr-bg);
  z-index: 99;

  &__menu {
    display: none;
    cursor: pointer;
  }

  &__logo {
    margin-right: auto;
  }

  .image-container {
    width: 160px;
    aspect-ratio: 3/1;

    img {
      object-fit: contain;
    }
  }

  &__content {
    display: flex;
    gap: 0.5em;
  }

  &__favorite {
    padding: 0.75em 1.5em;
    color: var(--clr-font-drk);
    font-weight: bold;
    font-size: 0.9em;
  }

  &__btn {
    padding: 0.75em 1.5em;
    color: var(--clr-font-drk);
    font-weight: bold;
    font-size: 0.9em;
  }

  &__register {
    padding: 0.75em 1.5em;
    font-weight: bold;
    font-size: 0.9em;
    background-color: var(--clr-primary);
    color: #fff;
    border-radius: 4px;
  }
}

.navbar__aside {
  position: absolute;
  top: 100%;
  left: -100%;
  min-height: 100vh;
  width: 50%;
  min-width: 15rem;
  background-color: var(--clr-bg);
  transition: left 0.3s linear;

  &-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
    position: relative;

    //---------- scroll styling ---------//
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--clr-bg-lgt);
    }
    scrollbar-width: thin;
    scrollbar-color: varvar(--clr-bg-lgt) var(--clr-bg-lgt);
    //----------------------------------//
  }

  &--active {
    left: 0;
  }

  h3 {
    color: var(--clr-font-drk);
    font-weight: bold;
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: rgb(214, 214, 214);
    flex-shrink: 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &-link {
    text-transform: capitalize;
    font-size: 1rem;
    color: var(--clr-font);

    &--active {
      font-weight: bold;
      color: var(--clr-font-drk);
    }
  }

  &-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }

  &-bg {
    position: absolute;
    left: 0;
    top: 100%;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.446);
    backdrop-filter: blur(2px);
    z-index: -1;
    cursor: pointer;
  }
}

@media (max-width: 1125px) {
  .navbar__menu {
    display: flex;
  }
}

@media (max-width: 600px) {
  .navbar {
    padding: 0.25em 0.5rem;

    .image-container {
      width: 120px;
    }

    &__content {
      gap: 0.5em;

      button,
      a {
        padding: 0.5em 1em !important;
      }
    }
  }
}
