.home {
  display: flex;
  gap: 2em;
  padding: 0 1em;
  padding-top: 4em;
  width: 100%;

  .wrapper {
    margin: 0 auto;
    width: 100%;
  }

  &__top-height {
    height: 5em;
    display: flex;
    align-items: center;
  }
}

//-------- ASIDE STYLING STARTS HERE --------//
.home__aside {
  display: flex;
  flex-direction: column;

  max-width: 15rem;
  width: 100%;
  border-right: 1px solid #c9c9c9;

  &-sticky {
    position: sticky;
    top: 5em;
    padding-bottom: 8em;
    overflow-y: auto;

    //---------- scroll styling ---------//
    // chrome && safari
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--clr-primary);
    }
    // firefox
    scrollbar-width: thin;
    scrollbar-color: var(--clr-primary) var(--clr-bg-lgt);
    //----------------------------------//
  }

  &-box {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
  }

  &-profile {
    position: relative;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;

    .image-container {
      width: 4em;
      aspect-ratio: 1;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: #c9c9c9;
  }

  &-name {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
  }

  &-category {
    border-radius: 0.5em;
    padding: 2em 1.5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  h3 {
    font-size: 1.25em;
    font-weight: bold;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
  }

  &-item {
    font-size: 1em;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--clr-font);
    margin-right: auto;
    transition: padding 0.2s ease-in-out;

    &--active {
      padding-left: 1em;
      font-weight: bold;
      color: rgb(7, 98, 197) !important;
    }
  }
}

@media (max-width: 1125px) {
  .home__aside {
    display: none;
  }
}

@media (max-width: 600px) {
  .home {
    padding-top: 3em;
  }
}
