.home {
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 1em;
  padding-top: 4em;
  padding-bottom: 4em;

  .wrapper {
    margin: 0;
    width: 100%;
  }

  &__top-height {
    height: 5em;
    display: flex;
    align-items: center;
  }
}

//-------- ASIDE STYLING STARTS HERE --------//
.home__aside {
  display: flex;
  flex-direction: column;

  max-width: 15rem;
  width: 100%;

  &-sticky {
    position: sticky;
    top: 5em;
    padding-bottom: 8em;
    height: 100vh;
    overflow-y: auto;

    //---------- scroll styling ---------//
    // chrome && safari
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--clr-highlight);
    }
    // firefox
    scrollbar-width: thin;
    scrollbar-color: var(--clr-highlight) var(--clr-bg-lgt);
    //----------------------------------//
  }

  &-box {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  &-profile {
    position: relative;
    padding: 1.5em;
    background-color: var(--clr-bg-lgt);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.152);

    svg {
      position: absolute;
      right: 1em;
      top: 1em;
      fill: none;
      stroke-width: 2px;
      stroke-linecap: round;
      stroke-linejoin: round;
      margin-left: auto;
      color: var(--clr-font-md);
      cursor: pointer;
      &:hover {
        color: var(--clr-font);
      }
    }

    .image-container {
      width: 6em;
      aspect-ratio: 1;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
    }
  }

  &-name {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
  }

  &-category {
    border-radius: 1em;
    padding: 2em 1.5em;
    background-color: var(--clr-bg-lgt);
    display: flex;
    flex-direction: column;
    gap: 2em;
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.152);
  }

  h3 {
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
  }

  &-item {
    font-size: 1em;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--clr-font);
    margin-right: auto;
    &:hover {
      color: var(--clr-font-drk);
    }
  }
}

@media (max-width: 920px) {
  .home__aside {
    display: none;
  }
}
